.center-image {
  margin: 0 auto;
  display: block;
}

.screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 375.0px;
  height: auto;
  border-style: solid;
}

figure {
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

pre {
  overflow-x: scroll;
  white-space: pre;
  word-wrap: normal; /* Needed for Safari */
}

code {
  color: #24292e;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "PT Serif", Georgia, "Times New Roman", serif;
}
