.center-image {
  margin: 0 auto;
  display: block;
}

figure {
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

pre {
  overflow-x: scroll;
  white-space: pre;
}

code {
  color: #6a9fb5;
}
